/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


*{
  padding: 0;
  margin: 0;

  font-size: 16px;
}

/* Special Classes */

.StartYellowSpan{
  color: yellow;
  font-weight: 600;
  font-style: oblique;
}

.StartYellowSpan abbr{
  text-decoration: none;
}

.requiredDisclaimer{
  background-color: #000;
  color: white;

  width: 11vw;


  position: absolute;
  right: 0;

  padding: 25px;

  margin: 10px;
  border-radius: 50px;

  margin-top: 10vh;
}

.colorRed{
  color: red;
}


/* main */

.mainForm{
  display: flex; 
  flex-direction: column;
}

.mainHeadline{
  font-size: 3rem;
  height: 100%;

  color: white;
  display: grid;
  align-content: center;
  justify-content: center;

  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: #000000 5px 5px;
}

/* nav */
.appHeader{
  width: 100%;
  height: 12vh;


  background: radial-gradient(circle at 0%, #000, 5%, #555, 50%, #555, 72.5%, #111, 100%, #000);

  position: relative;
  z-index: 100;

  box-shadow: 0px 11px 50px 5px rgba(0,0,0,0.8);
}

.mainNav{
  display: grid; 
  grid-template-columns: 5fr 1fr;
  height: inherit;
}

.mainNav ul{
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.listItem{
  list-style: none;
  width: 50%;
  text-align: center;
  display: grid; 
  align-content: center;
  justify-content: center;
}

.listItem a {
  text-decoration: none;
  color: white !important;
}

.navIMG{
  height: 5vh;
}

.listItem a img:hover {
  border: #ff9800 2px solid;
  border-radius: 100%;
}

/* Form */

.mainForm{
  background: radial-gradient(circle at center, #f0f0f0, #dcdcdc); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  min-height: 100vh;

  color: rgba(255, 255, 255, 0.9);

  padding-top: 10vh;
}

.formContainer{
  width: 60vw; 
  padding-left: 20vw;

  display: flex; 
  flex-direction: column;

  gap: 10vh;
}

.inputTextAreaLabel{
  text-decoration: underline 1px;
  text-underline-offset: 15px;
  text-underline-position: below;
  text-shadow: #000000a5 2px 3px;
}

/* for Textarea.js */
.formElement{
  display: grid; 
  grid-template-rows: 1fr  2fr;
  
  background-color: #333;

  min-height: 25vh;
  border-radius: 20px;
  padding: 5%;
}

/* for Inputs.js */
.inputElement{
  display: grid; 
  grid-template-columns: auto  1fr;
  
  background-color: #333;
  column-gap: 3vw;

  border-radius: 20px;
  padding: 5%;
}

.inputElement label{
  padding: 10px;
}

.yesNoButtonContainer{
  display: flex; 
  flex-direction: row;
  justify-content: right;
  gap: 5vh;
  width: 100%;
}

.yesNoButtonContainer input{
  min-width: 70px;
  padding: 0px 10px 0px 10px;
}

.ColorSetterrFormater{
  display: grid;
  grid-template-columns: auto repeat(1fr, 3);
  gap: 10vh;
}

.colorInputParent{
  display: grid; 
  grid-template-columns: 1fr 1fr;

  gap: 5%;
}

.inputElementColor{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  background-color: #333;

  border-radius: 20px;
  padding: 5%;

}


.inputBoolFocused{
  background-color: #ff9800;
  border: #000 2px solid;
  color: #111;
}

input, textarea{
  border: unset;
  resize: none; 
  vertical-align: top; 

  padding: 10px;
}

textarea{
  width: 80%;
  margin-left: 10%;
  height: 100%;
}

.projectContainter, .serviceContainter{
  display: flex; 
  flex-direction: column;

  gap: 3vh;
}

.subFormHeading{
  font-size: 2.5rem;
  color: #222;
  margin-bottom: -8vh;

  letter-spacing: 3px;
  text-shadow: #353535a5 3px 3px;
}

/* DRAG AND DROP */

.dragNdrop{
  display: grid; 
  
  background-color: #333;
  column-gap: 3vw;

  border-radius: 20px;
  padding: 5%;
}

.dropArea{
  border: dotted white 2px;
  width: 100%;
  height: 30vh;

  display: grid; 
  align-content: center;
  justify-content: center;
}

.dragNdropP{
  font-size: 1.5rem;
  padding-bottom: 1vh;

  text-shadow: #000000 2px 2px;
}

.draggingOver{
  border: solid white 2px;
}


.removeIMG{
  position: absolute;
  margin: 1%;
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 17px; 
  padding-right: 17px; 
  border: white 1px solid;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.imageList{
  margin-top: 3vh;

  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vh;
}

.imageContainer{
  width: 100%;
}

.imageContainer img{
  max-width: 100%;
  padding-left: 2px;
}


.FileInputDragNDrop{
  display: none;
}